/* Navbar */
.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.btn-warning-custom {
  background-color: #ffd748;
  color: white;
}

.btn-warning-custom:hover {
  background-color: #e7b500;
  color: white;
}

.btn-succes-custom {
  background-color: #325c58;
  color: white;
}

.btn-succes-custom:hover {
  background-color: #427e78;
  color: white;
}

/* Hero */
.hero-section {
  background: linear-gradient(to bottom, #35736e, #ffffff);
  color: white;
  padding: 100px 0;
}

.hero-section .btn-warning {
  color: white;
}

.title-hero {
  font-size: 55px;
}

.hero-img img {
  max-width: 650px;
  height: auto;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title-hero {
    font-size: 70px;
  }
  .hero-img img {
    max-width: 420px;
    height: auto;
  }

  .hero-btn button {
    margin-bottom: 10px;
  }
  .frequently-section {
    padding: 10px;
    padding-top: 30px;
    text-align: center;
  }
  .frequently-title {
    font-size: 30px;
    text-align: center;
  }
  .freq-btn {
    align-items: center;
  }
}

/* Responsive Mobile */
@media (max-width: 768px) {
  .hero-section {
    padding: 10px;
  }

  .title-hero {
    font-size: 50px;
  }

  .hero-btn button {
    margin-bottom: 10px;
  }

  .hero-btn button {
    width: 200px;
  }

  .hero-img img {
    max-width: 100%;
    height: auto;
  }

  .frequently-section {
    padding: 10px;
    padding-top: 30px;
    text-align: center;
  }
  .frequently-title {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .paragraph {
    text-align: center;
  }

  .footer-start {
    justify-content: start !important;
  }
}

/* category */
.category-section .card {
  border: none;
  background-color: #d9d9d9;
  width: 200px;
  height: 215px;
  border-radius: 10%;
}

/* lets shopping */
.shopping-section {
  padding-bottom: 50px;
  padding-top: 50px;
}

.shopping-title {
  font-size: 50px;
  color: #2f2f2f;
  margin-bottom: 30px;
}

.custom-img {
  width: 500px;
  height: auto;
}

/* our product */
#our-product {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #d9d9d9;
}

/* Frequently Searched */
.frequently-section {
  background: #d9d9d9;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

.frequently-title {
  font-size: 50px;
  color: #2f2f2f;
  margin-bottom: 30px;
  /* padding-right: 50px; */
}

.paragraph {
  /* padding-right: 50px; */
  margin-bottom: 30px;
  color: #6a6a6a;
}

.freq-img {
  max-width: 500px;
  height: auto;
}

/* About Us */
.about-section {
  background: #eff2f1;
  color: white;
  padding-bottom: 90px;
  padding-top: 90px;
  text-align: center;
}

.about-title {
  font-size: 40px;
  color: #2f2f2f;
  margin-bottom: 20px;
}

.about-paragraph {
  font-size: 10;
  margin-bottom: 30px;
  color: #6a6a6a;
}

/* footer */
.footer {
  background-color: white;
  color: black;
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-description p {
  max-width: 360px;
}

.footer-social-icons img {
  width: 30px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 132px;
}

.footer-links ul {
  list-style-type: none;
  padding: 10px;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  width: 150px;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.text-muted {
  color: #fff;
}

.social-icon-circle {
  width: 40px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0.2rem;
  border-color: #a1a1a1;
  color: #000000;
  background: #fdffff;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #d9d9d9;
  outline: 2px solid #d9d9d9;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}
