/* Navbar */
.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.btn-warning-custom {
  background-color: #ffd748;
  color: white;
}

.btn-warning-custom:hover {
  background-color: #e7b500;;
  color: white;
}

.btn-succes-custom {
  background-color: #325c58;
  color: white;
}

.btn-succes-custom:hover {
  background-color: #427e78;;
  color: white;
}

/* Hero */
.hero-section {
  background: linear-gradient(to bottom, #35736e, #ffffff);
  color: white;
  padding: 100px 0;
}

.hero-section .btn-warning {
  color: white;
}

.title-hero {
  font-size: 55px;
}

.hero-img img {
  max-width: 650px;
  height: auto;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title-hero {
    font-size: 70px;
  }
  .hero-img img {
    max-width: 420px;
    height: auto;
  }

  .hero-btn button {
    margin-bottom: 10px;
  }
}

/* Responsive Mobile */
@media (max-width: 768px) {
  .hero-section {
    padding: 10px;
  }

  .title-hero {
    font-size: 50px;
  }

  .hero-btn button {
    margin-bottom: 10px;
  }

  .hero-btn button {
    width: 200px;
  }

  .hero-img img {
    max-width: 100%;
    height: auto;
  }
}

/* category */
.category-section .card {
  border: none;
  background-color: #d9d9d9;
  width: 200px;
  height: 215px;
  border-radius: 10%;
}

/* Frequently Searched */
.frequently-section {
  background: #d9d9d9;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

.frequently-title {
  font-size: 50px;
  color: #2f2f2f;
  margin-bottom: 30px;
  padding-top: 130px;
  padding-right: 50px;
}

.paragraph {
  padding-right: 50px;
  margin-bottom: 30px;
  color: #6a6a6a;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title-freq {
    font-size: 70px;
  }
  .freq-img img {
    max-width: 420px;
    height: auto;
    padding-top: 20px;
  }

  .freq-btn button {
    margin-bottom: 10px;
  }
}

/* Responsive Mobile */
@media (max-width: 768px) {
  .hero-section {
      padding: 10px;
      padding-top: 50px;
  }

  .frequently-title {
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-right: 20px;
  }

  .title-hero {
    font-size: 50px;
  }

  .hero-btn button {
      margin-bottom: 10px;
  }

  .hero-btn button{
      width: 200px;
    }

  .hero-img img{
    padding-top: 50px;
    max-width: 100%; 
    height: auto;
  }
}

@media (max-width: 576px) {
  .hero-img {
    display: none;
  }
}
