/* Navbar */
.navbar-nav .nav-item {
    margin-right: 20px;
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }

  .btn-warning-custom {
    background-color: #FFD748;
    color: white;
  }
  
  .btn-warning-custom:hover {
    background-color: #ccb14d;
    color: white;
  }
  
  .btn-succes-custom {
    background-color: #325c58;
    color: white;
  }
  
  .btn-succes-custom:hover {
    background-color: #6ebeb6;
    color: white;
  }
  
  /* Hero */
  .hero-section {
    background: linear-gradient(to bottom, #35736e, #ffffff);
    color: white;
    padding: 100px 0;
  }
  
  .hero-section .btn-warning {
    color: white;
  }
  
  .title-hero {
    font-size: 100px;
  }
  
  .hero-img img{
    max-width: 650px; 
    height: auto;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .title-hero {
        font-size: 70px;
      }
    .hero-img img {
      max-width: 420px;
      height: auto;
    }

    .hero-btn button {
        margin-bottom: 10px;
    }
  }
  
  /* Responsive Mobile */
  @media (max-width: 768px) {
    .hero-section {
        padding: 10px;
    }

    .title-hero {
        font-size: 50px;
    }

    .hero-btn button {
        margin-bottom: 10px;
    }

    .hero-btn button{
        width: 200px;
      }

      .hero-img img{
        max-width: 100%; 
        height: auto;
      }
  }
  
  